@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: -webkit-radial-gradient(ellipse at top, #f6f6ca, #b8f5c0);
  background: radial-gradient(ellipse at top, #f6f6ca, #b8f5c0);
  font-family: "Open Sans", sans-serif;
}

h1 {
  margin-left: 1rem;
}

.container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.results {
  display: flex;
  flex-wrap: wrap;
}

.result {
  margin: 1rem;
  padding: 1rem;
  max-width: 200px;
  background: white;
  border: 1px solid grey;
  border-radius: 1rem;
}

.success {
  border: 1px solid green;
  padding: 1rem;
  color: green;
  background: rgba(0, 255, 0, 0.1);
}

.error {
  border: 1px solid darkred;
  padding: 1rem;
  color: darkred;
  background: rgba(255, 0, 0, 0.1);
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid darkred;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-left: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.product-container {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 2rem;
}

.card {
  border: 2px solid black;

  border-radius: 4px;

  padding: 0.5rem;
}

.img-container {
  height: 300px;

  max-width: 70%;
  margin: 0 auto;
  height: 180px;
}

img {
  max-width: 100%;
  height: 100%;
}

.text-wrapper {
  margin: 0 auto;
  width: 90%;
}

.search {
  margin-bottom: 50px;
  border-radius: 4px;
  width: 300px;
}

input[type="textet"] {
  width: 30%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

/* When the input field gets focus, 
        change its width to 100% */
input[type="textet"]:focus {
  width: 50%;
}

.container-search {
  padding-bottom: 50px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.logo-container {
  width: 40%;
  height: 16%;
  margin: 0 auto;
  padding-top: 2rem;
}

img {
  max-width: 100%;
  height: 100%;
}
